* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background: #a8f8ce;
  }
  
  h2 {
    margin: 0px;
    padding-bottom: 15px;
  }
  
  .container {
    padding: 32px;
  }
  
  .select-box {
    display: flex;
    width: 400px;
    flex-direction: column;
  }
  
  .select-box .options-container {
    background: #77c89d;
    color: #ece7e2;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #8fbeca;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-top: 10px;
    color: #ece7e2;
    position: relative;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("img/arrow-down.png");
    background-size:contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #77c89d;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #77c89d;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #9ae9a1;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .doctor {
    display: none;
    margin-top: 12px;
  }

  .btn-btn-primary{
    background: #8fbeca;
    color: #ece7e2;
    max-height: 10; 
    text-size-adjust: 20;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    margin-top: 12px;
    padding: 10px;
  }

.symptoms{
    background: #8fbeca;
    color: #ece7e2;
    max-height: 10; 
    padding-right: 200px;
    text-size-adjust: 20;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    margin-top: 12px;
    padding: 10px;
    padding-right: 245px;
  }

  .symptoms1{
    background: #8fbeca;
    color: #ece7e2;
    max-height: 10; 
    padding-right: 200px;
    text-size-adjust: 20;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    margin-top: 12px;
    padding: 10px;
    padding-right: 245px;
  }

  .under{
    background: #8fbeca;
    color: #ece7e2;
    max-height: 10; 
    text-size-adjust:inherit;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    margin-top: 5px;
    margin-left: 20px;
    padding: 8px;
    padding-right: 225px;
  }

  .text
  {
    padding: 5px;
    margin-top: 15px;
    color: #006663;
    font-size: 15px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .bigtext
  {
    padding: 5px;
    margin-top: 15px;
    color: #006663;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
